.modal-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);

	justify-content: center;
	align-items: center;
}

.modal {
	width: 100%;
	max-width: 50rem;
	padding: 2.5rem;
	background: var(--color-text-white);
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		color: var(--color-text-secondary);
		font-size: 2rem;
	}
}

.modal-close-btn {
	padding: 0.5rem;
	color: var(--color-text-primary);
	font-size: 3rem;
	border-radius: 0.5rem;
	cursor: pointer;

	transition: color 200ms linear;

	&:hover {
		color: var(--color-text-secondary);
		background-color: var(--color-border);
	}
}

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	label {
		display: block;
		color: var(--color-text-secondary);
		font-size: 1.2rem;
		font-weight: 600;
	}

	input,
	select {
		width: 100%;
		padding: 1rem;
		border: 1px solid var(--color-border);
		border-radius: 0.5rem;
		font-size: 1.5rem;
		outline: none;

		transition: border-color 150ms linear;

		&:focus {
			border-color: var(--color-primary);
		}
	}
}

.modal-label {
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
}

.modal-value {
	padding: 0.3rem 0.6rem;
	font-size: 1.4rem;
	border-radius: 0.5rem;
}

.modal-task {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-actions,
.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.cancel-btn,
.submit-btn,
.delete-btn,
.edit-btn {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	font-weight: 600;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;

	transition: filter 150ms linear;
}

.cancel-btn,
.edit-btn {
	color: var(--color-text-secondary);
	background: var(--color-border);

	&:hover {
		filter: brightness(95%);
	}
}

.submit-btn,
.delete-btn {
	color: var(--color-text-white);
	background: var(--color-primary);

	&:hover {
		filter: brightness(120%);
	}
}
