/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	font-family: 'Inter', 'Source Code Pro', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li,
figcaption {
	text-wrap: pretty;
	max-width: 65ch;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
}

/*@ ROOT-STYLES */
:root {
	--color-primary: #0c66e4;
	--color-primary-accent: #e9f2ff;
	--color-secondary: #f7f8f9;

	--color-tag-blue: #1868db;
	--color-tag-green: #1f845a;
	--color-tag-yellow: #f5cd47;
	--color-tag-purple: #6e5dc6;

	--color-card-open: #63ba3c;

	--color-text-primary: #455570;
	--color-text-secondary: #172b4d;
	--color-text-light-gray: #7f8a9c;
	--color-text-white: #ffffff;

	--color-subtle-gray: #f0f1f3;
	--color-border: #cfcfcf;
}

/*@ GENERAL-STYLES */
.icon--small {
	height: 1.6rem;
	width: 1.6rem;
}

.icon--medium {
	height: 2.4rem;
	width: 2.4rem;
}

.btn {
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.btn--primary {
	color: var(--color-text-white);
	background-color: var(--color-primary);
	border: none;

	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

.search-bar {
	width: 100%;
	font-size: 1.6rem;
	border: 2px solid var(--color-border);
	border-radius: 0.6rem;
	outline: none;
}

.subtle-gray-bg {
	background-color: var(--color-subtle-gray);
}

/*@ #APP-STYLES */
.app {
	background-color: var(--color-text-white);

	display: grid;
	grid-template-columns: 1fr 5fr;
}

/*@ #HEADER-STYLES */
.header {
	grid-column: span 2;

	padding: 0 3.2rem;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.header__app-switcher {
	color: var(--color-text-primary);
	background-color: var(--color-text-white);
	border: none;
}

.header__logo {
	color: var(--color-primary);

	> img {
		width: 8rem;
	}
}

.header__list {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}

.header__item {
	position: relative;

	padding: 2rem 0.4rem;

	&::after {
		content: '';

		position: absolute;
		left: 0;
		bottom: 0;

		height: 3px;
		width: 0;
		background-color: var(--color-primary);
		border-radius: 0.2rem;

		transition: all 0.3s;
	}

	&:hover::after {
		width: 100%;
	}
}

.header__link {
	color: var(--color-text-primary);
	font-size: 1.6rem;
	font-weight: 500;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__item--active {
	&::after {
		width: 100%;
	}

	> a {
		color: var(--color-primary);
	}
}

.header__button {
	padding: 0.8rem 1.8rem;
	font-size: 1.6rem;
}

.header__right {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.header__search {
	position: relative;
}

.header__search-bar {
	padding: 0.6rem 1.6rem 0.6rem 4rem;

	color: var(--color-text-primary);
}

.header__search-icon {
	position: absolute;
	top: 1rem;
	left: 1.4rem;

	height: 2rem;
	width: 2rem;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.header__icon-btn > svg {
	color: var(--color-text-primary);
}

.header__icon-btn--notifications > svg {
	transform: rotate(45deg);
}

.header__avatar {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

/*@ #SIDEBAR-STYLES */
.sidebar {
	padding: 1rem;
	border-right: 1px solid var(--color-border);

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sidebar__project-header {
	padding-left: 2rem;
	padding-top: 2rem;

	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.sidebar__project-logo {
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	background-color: #895ecc;
	border-radius: 0.5rem;
}

.sidebar__project-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar__project-name {
	color: var(--color-text-primary);
	font-size: 1.6rem;
	font-weight: 600;
}

.sidebar__project-type {
	color: var(--color-text-light-gray);
	font-size: 1.4rem;
	font-weight: 500;
}

.sidebar__nav {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.sidebar__heading {
	margin-top: 1rem;
	padding-left: 2rem;
	color: var(--color-text-primary);
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.sidebar__item {
	padding: 1.3rem 0;
	border-radius: 0.5rem;

	transition: all 0.2s;

	&:hover {
		background-color: var(--color-primary-accent);
	}
}

.sidebar__link {
	position: relative;

	color: var(--color-text-primary);
	padding: 0 2rem;
	font-size: 1.6rem;
	font-weight: 500;

	display: flex;
	gap: 1rem;

	&::after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 0;
		background-color: var(--color-primary);
		border-radius: 0.2rem;

		transition: all 0.3s;
	}
}

.sidebar__item--active {
	background-color: var(--color-primary-accent);

	> a {
		color: var(--color-primary);

		&::after {
			width: 3px;
		}
	}
}

.sidebar__footer {
	padding: 1rem 0;
	border-top: 1px solid var(--color-border);

	.sidebar__link {
		padding: 1rem 2rem;
		width: 100%;
		border-radius: 0.5rem;

		display: flex;
		align-items: center;

		transition: all 0.2s;

		&:hover {
			background-color: var(--color-primary-accent);
		}
	}
}

/*! This button will be used to resize Sidebar from showing full to only icons */
.sidebar__resizer {
	display: none;
}

/*@ #MAIN-STYLES */
.main {
	padding: 3.5rem 6rem;

	display: flex;
	flex-direction: column;
}

.main-board__breadcrumb {
	color: var(--color-text-primary);
	font-size: 1.7rem;
}

.main-board__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-board__title {
	color: var(--color-text-secondary);
	font-size: 3rem;
	font-weight: 500;
}

.main-board__header-actions {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.main-board__icon-btn {
	color: var(--color-text-primary);
	padding: 0.8rem;
	border-radius: 0.5rem;

	transition: all 0.3s;

	&:hover {
		color: var(--color-primary);
	}
}

.main-board__controls {
	margin-top: 0.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-board__controls-left {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.board__search {
	position: relative;
	width: 25%;
}

.board__search-bar {
	padding: 0.6rem 4rem 0.6rem 0.6rem;

	color: var(--color-text-primary);
}

.board__search-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;

	height: 2rem;
	width: 2rem;
}

.main-board__avatars {
	display: flex;
	align-items: center;
	transform: rotate(180deg);
}

.main-board__avatar {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	transform: rotate(180deg);
	border: 4px solid var(--color-text-white);

	display: flex;
	align-items: center;
	justify-content: center;

	&:not(&:first-child) {
		margin-left: -1.5rem;
	}
}

.main-board__avatar-placeholder {
	font-weight: 500;
	font-size: 1.4rem;
	background-color: var(--color-subtle-gray);
}

.main-board__dropdown {
	color: var(--color-text-secondary);
	font-size: 1.6rem;
	font-weight: 500;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	transition: all 0.3s;

	&:hover {
		color: var(--color-primary);
	}
}

.main-board__controls-right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.main-board__grouping {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.main-board__group-label {
	color: var(--color-text-primary);
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
}

.main-board__button {
	color: var(--color-text-primary);
	font-size: 1.6rem;
	font-weight: 600;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	transition: all 0.3s;

	&:hover {
		color: var(--color-primary);
	}
}

.main-board__grid {
	margin-top: 3rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.board-column {
	background-color: var(--color-secondary);
	border-radius: 1rem;
	padding: 1.6rem 0.6rem;

	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.board-column__header {
	font-size: 1.5rem;
	text-transform: uppercase;
	display: flex;
	gap: 1rem;
	font-weight: 500;
	color: var(--color-text-primary);
	margin-left: 1.8rem;
}

.board-column__content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.board-card {
	padding: 1.5rem;
	background-color: var(--color-text-white);
	border-radius: 0.6rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	box-shadow: 0 1px 2px #aaa;
}

.board-card__title {
	color: var(--color-text-secondary);
	font-size: 1.8rem;
}

.board-card__tags {
	display: flex;
	gap: 0.8rem;
	flex-wrap: wrap;
}

.board-card__tag {
	font-size: 1.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-text-white);
	padding: 0.3rem 0.6rem;
	border-radius: 0.5rem;
	line-height: 1;
}

.board-card__tag--billing {
	background-color: var(--color-tag-blue);
}

.board-card__tag--accounts {
	background-color: var(--color-tag-green);
}

.board-card__tag--feedback {
	background-color: var(--color-tag-yellow);
}

.board-card__tag--forms {
	background-color: var(--color-tag-purple);
}

.board-card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.board-card__footer-left {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	> svg {
		color: var(--color-text-white);
		background-color: var(--color-card-open);
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
}

.board-card__id {
	font-size: 1.3rem;
	color: var(--color-text-primary);
	font-weight: 500;
}

.board-card__creator-avatar {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

/*@ #MEDIA-QUERIES */
@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}
