/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5;
	font-family: 'Inter', 'Source Code Pro', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
	max-width: 65ch;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

/*@ ROOT-STYLES */
:root {
	--color-primary: #0c66e4;
	--color-primary-accent: #e9f2ff;
	--color-secondary: #f7f8f9;

	--color-tag-blue: #1868db;
	--color-tag-green: #1f845a;
	--color-tag-yellow: #f5cd47;
	--color-tag-purple: #6e5dc6;

	--color-card-open: #63ba3c;

	--color-text-primary: #455570;
	--color-text-secondary: #172b4d;
	--color-text-light-gray: #7f8a9c;
	--color-text-white: #ffffff;

	--color-subtle-gray: #f0f1f3;
	--color-border: #cfcfcf;
}

/*@ GENERAL-STYLES */
.icon--small {
	height: 1.6rem;
	width: 1.6rem;
	flex-shrink: 0;
}

.icon--medium {
	height: 2.4rem;
	width: 2.4rem;
	flex-shrink: 0;
}

.btn--primary {
	color: var(--color-text-white);
	background-color: var(--color-primary);
	border: none;

	transition: all 0.3s;

	&:is(:hover, :focus) {
		transform: scale(1.05);
	}
}

.hidden {
	display: none;
}

.search-bar {
	width: 100%;
	font-size: 1.6rem;
	border: 2px solid var(--color-border);
	border-radius: 0.6rem;
	outline: none;
}

.subtle-gray-bg {
	background-color: var(--color-subtle-gray);
}

/*@ #APP-STYLES */
.app {
	background-color: var(--color-text-white);
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: max-content;

	overflow: hidden;
}

/*@ #HEADER-STYLES */
.header {
	grid-column: span 2;

	padding: 0 3.2rem;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.header__left {
	position: relative;

	display: flex;
	align-items: center;
	gap: 4rem;
}

.header__app-switcher {
	min-width: max-content;
	color: var(--color-text-primary);
	background-color: var(--color-text-white);
	cursor: pointer;
}

.header__logo {
	color: var(--color-primary);
	min-width: max-content;
	cursor: pointer;

	> img {
		width: 8rem;
	}
}

.header__link--hidden {
	position: relative;

	color: var(--color-primary);
	font-size: 1.6rem;
	font-weight: 500;
	padding: 2rem 0;
	text-wrap: nowrap;

	&::after {
		content: '';

		position: absolute;
		left: 0;
		bottom: 0;

		height: 3px;
		width: 100%;
		background-color: var(--color-primary);
		border-radius: 0.2rem;
	}
}

.header__list {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}

.header__item {
	position: relative;

	padding: 0 0.4rem;
	cursor: pointer;

	&::after {
		content: '';

		position: absolute;
		right: 0;
		bottom: 0;

		height: 3px;
		width: 0;
		background-color: var(--color-primary);
		border-radius: 0.2rem;

		transition: width 0.3s;
	}

	&:is(:hover, :has(.header__link:focus))::after {
		left: 0;
		width: 100%;
	}
}

.header__link {
	color: var(--color-text-primary);
	font-size: 1.6rem;
	font-weight: 500;
	padding: 2rem 0;
	text-wrap: nowrap;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__item--active {
	&::after {
		width: 100%;
	}

	> a {
		color: var(--color-primary);
	}
}

.header__button {
	padding: 0.8rem 1.8rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
}

.header__right {
	position: relative;

	height: 100%;

	display: flex;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		gap: 2.4rem;
	}
}

.header__menu-btn {
	min-width: max-content;
	cursor: pointer;
}

.header__search {
	position: relative;
}

.header__search-bar {
	max-width: 100%;
	color: var(--color-text-primary);
	padding: 0.6rem 1.6rem 0.6rem 4rem;

	&:focus {
		border: 2px solid var(--color-text-primary);
	}
}

.header__search-icon {
	position: absolute;
	top: 1rem;
	left: 1.4rem;

	height: 2rem;
	width: 2rem;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.header__icon-btn {
	min-width: max-content;

	> svg {
		color: var(--color-text-primary);
	}

	&:is(:hover, :focus) {
		outline: 2px solid var(--color-border);
		outline-offset: 0.5rem;
	}
}

.header__icon-btn--notifications > svg {
	transform: rotate(45deg);
}

.header__profile {
	min-width: max-content;
}

.header__avatar {
	aspect-ratio: 1/1;
	width: 3rem;
	border-radius: 50%;
}

/*@ #SIDEBAR-STYLES */
.sidebar {
	padding: 1rem;
	border-right: 1px solid var(--color-border);
	min-height: 0;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	overflow-y: auto;
	scrollbar-width: thin;
}

.sidebar__project-header {
	padding-left: 2rem;
	padding-top: 2rem;

	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.sidebar__project-logo {
	min-width: max-content;
	width: 3rem;
	height: 3rem;
	padding: 0.5rem;
	background-color: #895ecc;
	border-radius: 0.5rem;
}

.sidebar__project-info {
	color: var(--color-text-primary);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar__project-name {
	font-size: 1.6rem;
	font-weight: 600;
	text-wrap: nowrap;
}

.sidebar__project-type {
	font-size: 1.4rem;
	font-weight: 500;
	text-wrap: nowrap;
}

.sidebar__nav {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.sidebar__heading {
	margin-top: 1rem;
	padding-left: 2rem;
	color: var(--color-text-primary);
	font-weight: 600;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.sidebar__list {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.sidebar__item {
	padding: 1.3rem 0;
	border-radius: 0.5rem;

	transition: all 0.2s;

	&:is(:hover, :has(.sidebar__link:focus)) {
		background-color: var(--color-primary-accent);
	}
}

.sidebar__link {
	position: relative;

	color: var(--color-text-primary);
	padding: 0 2rem;
	font-size: 1.6rem;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: start;
	gap: 1rem;

	&::after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 0;
		background-color: var(--color-primary);
		border-radius: 0.2rem;

		transition: all 0.3s;
	}
}

.sidebar__item--active {
	background-color: var(--color-primary-accent);

	> a {
		color: var(--color-primary);

		&::after {
			width: 3px;
		}
	}
}

.sidebar__footer {
	padding: 1rem 0;
	border-top: 1px solid var(--color-border);

	.sidebar__link {
		padding: 1rem 2rem;
		width: 100%;
		border-radius: 0.5rem;
		text-align: left;

		display: flex;
		align-items: center;
		gap: 1rem;

		transition: all 0.2s;

		&:is(:hover, :focus) {
			background-color: var(--color-primary-accent);
		}
	}
}

/*@ #MAIN-STYLES */
.main {
	padding: 3.5rem 6rem;
	min-height: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.main-board__breadcrumb {
	color: var(--color-text-primary);
	font-size: 1.7rem;
}

.main-board__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.main-board__title {
	color: var(--color-text-secondary);
	font-size: 3rem;
	font-weight: 500;
}

.main-board__header-actions {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.main-board__icon-btn {
	color: var(--color-text-primary);
	padding: 0.8rem;
	border-radius: 0.5rem;

	transition: color 0.3s;

	&:is(:hover, :focus) {
		color: var(--color-primary);
		outline: 2px solid var(--color-border);
	}
}

.main-board__controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.main-board__controls-left {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.board__search {
	position: relative;
	width: 25%;
}

.board__search-bar {
	color: var(--color-text-primary);
	padding: 0.6rem 4rem 0.6rem 0.6rem;

	&:focus {
		border: 2px solid var(--color-text-primary);
	}
}

.board__search-icon {
	position: absolute;
	top: 1rem;
	right: 1rem;

	height: 2rem;
	width: 2rem;
}

.main-board__avatars {
	transform: rotate(180deg);

	display: flex;
	align-items: center;
}

.main-board__avatar {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	transform: rotate(180deg);
	border: 4px solid var(--color-text-white);

	display: flex;
	align-items: center;
	justify-content: center;

	&:not(&:first-child) {
		margin-left: -1.5rem;
	}
}

.main-board__avatar-placeholder {
	background-color: var(--color-subtle-gray);
	color: var(--color-text-primary);
	font-weight: 500;
	font-size: 1.3rem;
}

.main-board__dropdown {
	color: var(--color-text-secondary);
	padding: 1rem 1.5rem;
	font-size: 1.6rem;
	font-weight: 500;
	border-radius: 0.5rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	transition: color 0.3s;

	&:is(:hover, :focus) {
		color: var(--color-primary);
		outline: 2px solid var(--color-border);
	}
}

.main-board__controls-right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.main-board__grouping {
	text-wrap: nowrap;

	display: flex;
	align-items: center;
	gap: 1rem;
}

.main-board__group-label {
	color: var(--color-text-primary);
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
}

.main-board__button {
	color: var(--color-text-primary);
	padding: 1rem 1.5rem;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 0.5rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	transition: color 0.3s;

	&:is(:hover, :focus) {
		color: var(--color-primary);
		outline: 2px solid var(--color-border);
	}
}

.main-board__grid {
	margin-top: 3rem;
	min-height: 0;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;

	scrollbar-width: thin;
	overflow-x: auto;
}

.board-column {
	padding: 1.6rem 0.6rem;
	background-color: var(--color-secondary);
	border-radius: 1rem;
	min-height: 0;
	min-width: 165px;

	display: flex;
	flex-direction: column;
	gap: 1.8rem;

	overflow: hidden;
}

.board-column__header {
	font-size: 1.5rem;
	margin-left: 1.8rem;
	color: var(--color-text-primary);
	font-weight: 500;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	gap: 1rem;
}

.board-column__content {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	scrollbar-width: thin;
	overflow-y: auto;
}

.board-card {
	padding: 1.5rem;
	background-color: var(--color-text-white);
	border-radius: 0.6rem;
	box-shadow: 0 1px 2px #aaa;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.board-card__title {
	color: var(--color-text-secondary);
	font-size: 1.8rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.board-card__tags {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	flex-wrap: wrap;
}

.board-card__tag {
	padding: 0.3rem 0.6rem;
	font-size: 1.4rem;
	font-weight: 600;
	border-radius: 0.5rem;
	line-height: 1;
	text-transform: uppercase;
}

.board-card__tag--billing {
	background-color: var(--color-tag-blue);
	color: var(--color-text-white);
}

.board-card__tag--accounts {
	background-color: var(--color-tag-green);
	color: var(--color-text-white);
}

.board-card__tag--feedback {
	background-color: var(--color-tag-yellow);
	color: var(--color-text-secondary);
}

.board-card__tag--forms {
	background-color: var(--color-tag-purple);
	color: var(--color-text-white);
}

.board-card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.board-card__footer-left {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	> svg {
		color: var(--color-text-white);
		background-color: var(--color-card-open);
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
}

.board-card__id {
	color: var(--color-text-primary);
	font-size: 1.3rem;
	font-weight: 500;
}

.board-card__creator-avatar {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

/*@ #MEDIA-QUERIES */
@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}

@media (max-width: 1440px) {
	.header {
		padding: 0 2rem;
		gap: 1.6rem;
	}

	.header__left {
		gap: 1.6rem;
	}

	.header__list {
		gap: 1rem;
	}

	.header__right {
		gap: 1.2rem;
	}

	.header__search {
		min-width: 45%;
	}

	.header__search-bar {
		padding: 0.6rem 0.6rem 0.6rem 4rem;
	}

	.header__actions {
		gap: 1rem;
	}

	.main {
		padding: 2rem 2.5rem;
	}

	.main-board__grid {
		gap: 1rem;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 50%;
	}

	.header__list {
		flex-direction: column;
	}

	.header__link--hidden {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.header__nav {
		position: absolute;
		top: 65px;

		display: none;

		padding: 1rem 1.6rem;
		background-color: white;
		border: 1px solid var(--color-border);
		box-shadow: -4px 4px 4px rgb(215, 215, 215);
		z-index: 10;
	}

	.header__left:has(#toggle1:checked) > .header__nav {
		display: block;
	}

	.header__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: start;
	}

	.header__link {
		padding: 1.6rem 0;

		> svg:first-of-type {
			display: none;
		}

		> svg:nth-of-type(2) {
			display: inline-block;
		}
	}

	.sidebar__project-header {
		flex-direction: column;
	}
}

@media (max-width: 1024px) {
	.app {
		grid-template-columns: minmax(70px, 1fr) 10fr;
	}

	.sidebar__project-info,
	.sidebar__heading {
		display: none;
	}

	.sidebar__list {
		border-top: 1px solid var(--color-border);
	}

	.sidebar__link {
		justify-content: center;

		> span {
			display: none;
		}
	}

	.sidebar__project-header {
		padding: 0;
	}
}

@media (max-width: 768px) {
	.header__right {
		> div {
			position: absolute;
			top: 64px;
			right: 0;

			display: none;
			padding: 1rem 1.6rem;
			background-color: white;
			border: 1px solid var(--color-border);
			box-shadow: -4px 4px 4px rgb(215, 215, 215);
			z-index: 10;

			flex-direction: column;
		}
	}

	.header__right:has(#toggle2:checked) > div {
		display: flex;
	}

	.header__menu-btn {
		display: block;
	}

	.main-board__icon-btn {
		padding: 0.4rem;
	}

	.main-board__controls-left,
	.main-board__dropdown {
		gap: 0.2rem;
	}

	.main-board__dropdown,
	.main-board__button {
		padding: 0.5rem 0.8rem;
	}
}

@media (max-width: 650px) {
	.main-board__controls {
		flex-direction: column;
		align-items: start;
	}

	.board__search {
		width: 100%;
	}

	.main-board__avatar {
		flex-shrink: 0;
	}
}
