/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 100%;
}

body {
	min-height: 100vh;
	font-size: 1.125rem;
	line-height: 1.5;
	font-family: 'Inter', 'Source Code Pro', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li,
figcaption {
	text-wrap: pretty;
	max-width: 65ch;
}

ol,
ul {
	list-style: none;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
}

/*@ ROOT-STYLES */
:root {
	--color-primary: #0c66e4;
	--color-primary-accent: #e9f2ff;
	--color-secondary: #f7f8f9;

	--color-tag-blue: #1868db;
	--color-tag-green: #1f845a;
	--color-tag-green: #f5cd47;
	--color-tag-purple: #6e5dc6;

	--color-card-open: #63ba3c;

	--color-text-primary: #455570;
	--color-text-secondary: #172b4d;
	--color-text-gray: #7f8a9c;
	--color-text-white: #ffffff;
}

/*@ GENERAL-STYLES */
.icon--small {
	height: 1rem;
	width: 1rem;
}

.icon--medium {
	height: 1.5rem;
	width: 1.5rem;
}

.btn--primary {
	color: var(--color-text-white);
	background-color: var(--color-primary);
	padding: 1rem 1.5rem;
	cursor: pointer;

	transition: all 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

/*@ #APP-STYLES */
.app {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

/*@ #HEADER-STYLES */
.header {
	grid-column: span 2;

	background-color: var(--color-text-white);
	border-bottom: 1px solid var(--color-text-primary);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*@ #SIDEBAR-STYLES */

/*@ #MAIN-STYLES */

/*@ #MEDIA-QUERIES */
@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 3rem;
	}
}
